@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000000ee;
}

.container {
    width: 80vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    gap:10px;

    font-family: 'Rowdies', cursive;
}

header {
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.escolha {
    width: 40vw;
    height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: #d0e0eb;
    border-radius: 20px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.escolha p {
    color: #49708a;
}

.escolha img {
    padding: 25px;
    background-color: #b1ccc465;
    border-radius: 20px;
}

.selecao {
    width: 40vw;
    height: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;

    background-color: #d0e0eb;
    border-radius: 20px;    
}

.selecao p {
    color: #49708a;
}

.selecao img {
    padding: 25px;
    background-color: #b1ccc465;
    border-radius: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

h1, h2 {
    font-size: 35px;
    color: #ebf7f8;
}

p {
    color: #d0e0eb;
    font-weight: 900;
    font-size: 20px;
}

span {
    color: #caff42;
    font-size: 25px;
}

@media (max-width: 700px){
    .container {
        width: 100vw;
        height: 100vh;
    }

    h1, h2 {
        font-size: 30px;
    }

    .escolha{
        width: 90vw;
        height: 35vh;
    }    

    .selecao {
        width: 90vw;
        height: 35vh;
    }

    .selecao img {
        padding: 10px;
    }
}